<!--The content below is only a placeholder and can be replaced.-->
<div>
<div *ngIf="loginFlag; else elseBlock">
  <div align="right">
    <tr><td><button (click)="loginAction()">Login</button></td></tr>
    <tr><td> </td></tr><tr><td> </td></tr>
    <tr><td><a [routerLink]="['/changepassword']">Change Password</a></td></tr>
  </div>
</div>
<ng-template #elseBlock>
  <a [routerLink]="['/cadocdispatch']"> View CA-Doc dispatch reports </a>&nbsp;&nbsp;
  <a [routerLink]="['/searchstatus']"> Search Status </a>&nbsp;&nbsp;
  <a [routerLink]="['/vieweeterrors']"> View EET Errors </a>&nbsp;&nbsp;
  <a [routerLink]="['/jobschedule']"> Job Schedule </a>&nbsp;&nbsp;
  <a [routerLink]="['/groupmapping']"> Group Mapping </a>&nbsp;&nbsp;
</ng-template>
</div>
<router-outlet></router-outlet>
